h1 {
  color: #40627C;
  font-family: Georgia, serif;
  font-size: 250%;
}
h2, h3 {
  color: #26393D;
  font-family: Georgia, serif;
  font-weight: lighter;
}

td {
  text-align: left;
  cursor:pointer;
}

tr {
  text-align: left;
}

body {
  background-color: #E8E595;
}
